<div role="navigation" class="block block-menu highlighted-block--menu contextual-links-region first last odd" id="block-menu-menu-header-menu">
   <div class="block-inner-wrapper">
      <div class="content">
         <ul class="menu">
            <li class="menu__item is-leaf first leaf"><a class="menu__link" href="/about">About this site</a></li>
            <li class="menu__item is-leaf leaf"><a class="menu__link" title="" href="/islandora">Browse Repository</a></li>
            <li class="menu__item is-leaf last leaf"><a class="menu__link" title="" href="/islandora-bookmark">My Bookmarks</a></li>
         </ul>
      </div>
   </div>
</div>

