
@import 'menu_header_menu/menu_header_menu';
@import 'footer/footer';
@import 'islandora_simple_search/islandora_simple_search';
@import 'submit_to_collection/submit_to_collection';
@import 'featured_collections/featured_collections';

@import '../page_elements/front_slider/front_slider';

.front {
  .front-slider,
  .welcome,
  .front-search,
  .front-bottom {
    .block-inner-wrapper {
      padding: 10px;
      background-color: white;
      box-shadow: 0 0 5px 1px rgba(38, 37, 38, .3);
    }
  }

  .submit-collection,
  .submit-collection-anon {

    .block-inner-wrapper {
      background-color: #419845;
    }
  }
}

.front-slider {
  max-height: 440px;
}

.block-islandora-bookmark {
  h2.block__title {
    border-bottom: 2px solid #419845;
  }
}
