<div class="block block-islandora-solr front-search highlighted-block--normal contextual-links-region odd" id="block-islandora-solr-simple">
   <div class="block-inner-wrapper">
      <div class="content">
         <form accept-charset="UTF-8" id="islandora-solr-simple-search-form" method="post" action="/">
            <div>
               <div id="edit-simple" class="container-inline form-wrapper">
                  <div class="form-item form-type-textfield form-item-islandora-simple-search-query">
                     <input type="text" class="form-text" maxlength="128" size="15" value="" name="islandora_simple_search_query" id="edit-islandora-simple-search-query" placeholder="Search Repo">
                  </div>
                  <input type="submit" class="form-submit" value="search" name="op" id="edit-submit"><a class="adv-search" href="#kssref-components-islandora-basic-search">Advanced Search</a>
               </div>
               <input type="hidden" value="form-eWpgpAthYqCYYahn-Xa8401HMUZC3NRGPOs9NY94A3s" name="form_build_id">
               <input type="hidden" value="yYzuHinx30yTFFE3g6QwYCmrkHthQqDUILKmQNQQTj0" name="form_token">
               <input type="hidden" value="islandora_solr_simple_search_form" name="form_id">
            </div>
         </form>
      </div>
   </div>
</div>

