
main {
  .islandora-basic-collection-wrapper {
    .islandora-basic-collection {
      &-object {
        transition: all .2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      &-grid-image {
        width: 100%;
        height: 150px;
        border-radius: 3px;
      }

      &-display-switch {
        ul {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      &-grid {
        text-align: center;
      }
    }
  }
}
