// Layout Front
//
// This layout is specifically for use
// with the home page.
//
// Markup: layout-front.twig
//
// Weight: -3
//
// Style guide: layouts.layout-front

.layout-3col {
  @include zen-grid-container($context: flow);

  .front-slider,
  .layout-front-side-main__layout {
    @include zen-grid-item(1, 1);
  }

  .welcome,
  .layout-front-side-first__layout {
    @include zen-new-row(left);
    @include zen-grid-item(1, 1);
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
  }

  .front-search,
  .layout-front-side-second__layout {
    @include zen-new-row(left);
    @include zen-grid-item(1, 1);
    box-sizing: border-box;
    padding: 5px;
  }

  .submit-collection,
  .submit-collection-anon,
  .layout-front-side-third__layout {
    @include zen-new-row();
    @include zen-grid-item(1, 1);
    box-sizing: border-box;
    padding: 5px;
  }

  .front-bottom,
  .layout-front-bottom__layout {
    @include zen-new-row();
    @include zen-grid-item(1, 1);
    box-sizing: border-box;
    padding: 5px;
  }

  @include zen-respond-to(m) {
    .front-slider,
    .layout-front-side-main__layout {
      @include zen-grid-item(2, 1);
    }

    .welcome,
    .layout-front-side-first__layout {
      @include zen-new-row(left);
      @include zen-grid-item(2, 1);
      box-sizing: border-box;
      padding: 5px;
    }

    .front-search,
    .layout-front-side-second__layout {
      @include zen-new-row(left);
      @include zen-grid-item(1, 2);
      box-sizing: border-box;
      padding: 5px;

      .block-inner-wrapper {
        min-height: 90px;
      }
    }

    .submit-collection,
    .submit-collection-anon,
    .layout-front-side-third__layout {
      @include zen-grid-item(1, 1);
      box-sizing: border-box;
      padding: 5px;
      clear: none;
    }

    .front-bottom,
    .layout-front-bottom__layout {
      @include zen-new-row();
      @include zen-grid-item(2, 1);
      box-sizing: border-box;
      padding: 5px;
    }
  }


  @include zen-respond-to(xl) {
    .front-slider,
    .layout-front-side-main__layout {
      @include zen-grid-item(2, 1);
      box-sizing: border-box;
      padding: 5px;
    }

    .welcome,
    .layout-front-side-first__layout {
      @include zen-new-row(right);
      @include zen-grid-item(1, 1, right);
      box-sizing: border-box;
      padding: 5px;
      text-align: center;

      .block-inner-wrapper {
        max-height: 19.5em;
        min-height: 19.5em;
      }
    }

    .front-search,
    .layout-front-side-second__layout {
      @include zen-new-row(right);
      @include zen-grid-item(1, 1, right);
      box-sizing: border-box;
      padding: 5px;
    }

    .submit-collection,
    .submit-collection-anon,
    .layout-front-side-third__layout {
      @include zen-new-row(right);
      @include zen-grid-item(1, 1, right);
      box-sizing: border-box;
      padding: 5px;
    }

    .front-bottom,
    .layout-front-bottom__layout {
      @include zen-new-row(both);
      @include zen-grid-item(3, 1);
      box-sizing: border-box;
      padding: 5px;
    }
  }
}
