// Layout Front
//
// This layout is specifically for use
// with the home page.
//
// Markup: layout-front.twig
//
// Weight: -3
//
// Style guide: layouts.layout-front

.layout-3col {
  @include zen-grid-container($context: flow);

  .front-slider,
  .layout-front-side-main__layout {
    @include zen-grid-item(1, 1);
  }

  .welcome,
  .layout-front-side-first__layout {
    @include zen-new-row(left);
    @include zen-grid-item(1, 1);
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
  }

  .front-search,
  .layout-front-side-second__layout {
    @include zen-new-row(left);
    @include zen-grid-item(1, 1);
    box-sizing: border-box;
    padding: 5px;
  }

  .submit-collection,
  .submit-collection-anon,
  .layout-front-side-third__layout {
    @include zen-new-row();
    @include zen-grid-item(1, 1);
    box-sizing: border-box;
    padding: 5px;
  }

  .front-bottom,
  .layout-front-bottom__layout {
    @include zen-new-row();
    @include zen-grid-item(1, 1);
    box-sizing: border-box;
    padding: 5px;
  }

  @include zen-respond-to(m) {
    .front-slider,
    .layout-front-side-main__layout {
      @include zen-grid-item(2, 1);
    }

    .welcome,
    .layout-front-side-first__layout {
      @include zen-new-row(left);
      @include zen-grid-item(2, 1);
      box-sizing: border-box;
      padding: 5px;
    }

    .front-search,
    .layout-front-side-second__layout {
      @include zen-new-row(left);
      @include zen-grid-item(1, 2);
      box-sizing: border-box;
      padding: 5px;

      .block-inner-wrapper {
        min-height: 90px;
      }
    }

    .submit-collection,
    .submit-collection-anon,
    .layout-front-side-third__layout {
      @include zen-grid-item(1, 1);
      box-sizing: border-box;
      padding: 5px;
      clear: none;
    }

    .front-bottom,
    .layout-front-bottom__layout {
      @include zen-new-row();
      @include zen-grid-item(2, 1);
      box-sizing: border-box;
      padding: 5px;
    }
  }


  @include zen-respond-to(xl) {
    .front-slider,
    .layout-front-side-main__layout {
      @include zen-grid-item(2, 1);
      box-sizing: border-box;
      padding: 5px;
    }

    .welcome,
    .layout-front-side-first__layout {
      @include zen-new-row(right);
      @include zen-grid-item(1, 1, right);
      box-sizing: border-box;
      padding: 5px;
      text-align: center;

      .block-inner-wrapper {
        max-height: 19.5em;
        min-height: 19.5em;
      }
    }

    .front-search,
    .layout-front-side-second__layout {
      @include zen-new-row(right);
      @include zen-grid-item(1, 1, right);
      box-sizing: border-box;
      padding: 5px;
    }

    .submit-collection,
    .submit-collection-anon,
    .layout-front-side-third__layout {
      @include zen-new-row(right);
      @include zen-grid-item(1, 1, right);
      box-sizing: border-box;
      padding: 5px;
    }

    .front-bottom,
    .layout-front-bottom__layout {
      @include zen-new-row(both);
      @include zen-grid-item(3, 1);
      box-sizing: border-box;
      padding: 5px;
    }
  }
}

.region-sub-content {
  text-align: center;
}

.navigation-region-wrapper {
  display: table;
  width: 100%;
  background-color: white;
}

.view-gallery {
  .desc-field {
    display: none !important;
  }
}

  .inner-nav {
    #block-views-gallery-block-1 {
      width: 100%;
      display: block;
      vertical-align: middle;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }

    #block-views-notices-block {
      width: 100%;
      display: block;
      vertical-align: middle;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;

      .flex-direction-nav a.flex-next::before {
        @extend %font-aw-icon;
        font-size: 100%;
        display: block;
        opacity: 1;
        content: '\f0d8';
      }

      .flex-direction-nav a {
        display: block;
        opacity: 1;
        width: 20px;
        height: 20px;
      }

      .flex-direction-nav a.flex-prev::before {
        @extend %font-aw-icon;
        font-size: 100%;
        content: '\f0d7';
      }

      .flex-direction-nav a.flex-prev {
        right: 10px;
        text-align: right;
        left: auto;
        top: 80%;

        &:hover {
          right: 10px;
        }
      }

      .field-content {
        p {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }

.view-gallery {
  .flex-next {
    right: 10%;
  }
}

.flexslider:hover .flex-direction-nav .flex-next {
  right: 10%;
}

@include zen-respond-to(m) {
  .front__slider .owl-item > div .info-content-wrapper,
  .front-slider .owl-item > div .info-content-wrapper,
  #flex-gallery .info-content-wrapper {
    max-width: 50% !important;
  }

  .view-gallery {
    .flex-next {
      right: 48%;
    }
  }

  .view-gallery {
    .flexslider:hover .flex-direction-nav .flex-next {
      right: 48%;
    }
  }

  .view-gallery {
     .desc-field {
      display: block !important;
    }
  }

  .inner-nav {
    #block-views-gallery-block-1 {
      width: 30%;
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }

    #flex-gallery .flex-direction-nav .flex-next {
      right: 48% !important;
    }

    #block-views-notices-block {
      width: 68%;
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid #ccc;
      border-left: 0;

      .flex-direction-nav a.flex-next::before {
        font-size: 100%;
        display: block;
        opacity: 1;
      }

      .flex-direction-nav a {
        display: block;
        opacity: 1;
        width: 20px;
        height: 20px;
      }

      .flex-next {
        opacity: 1;
        padding-top: 20px;
/*         right: 48%; */
        height: 50px;
      }

      .flex-prev {
        left: 10% !important;
        opacity: 1;
        height: 50px;
        padding-top: 20px;
      }

      .flex-direction-nav a.flex-prev::before {
        font-size: 100%;
      }

      .flex-direction-nav a.flex-prev {
        right: 10px;
        text-align: right;
        left: auto;
        top: 80%;

        &:hover {
          right: 10px;
        }
      }

      .field-content {

        p {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
