<div class="layout-3col">

   <div class="layout-front-side-main__layout">
     This is the main content window area.
   </div>

   <div class="layout-front-side-first__layout">
     This is the Welcome content window area.
   </div>

   <div class="layout-front-side-second__layout">
     This is the front search content window area.
   </div>

   <div class="layout-front-side-third__layout">
     This is the submit to collection window area.
   </div>

   <div class="layout-front-bottom__layout">
     This is the front bottom area, usually used for views.
   </div>

</div>
