
@media all and (max-width: 600px) {
  header {
    text-align: center;
  }

  .header__region {
    padding-bottom: 20px;

    .block-menu {
      width: 100%;
    }
  }

  .header__logo {
    float: none;
  }

  .header__name-and-slogan {
    float: none;
    padding-bottom: 20px;
  }

}
