// Islandora simple search styles

#block-islandora-solr-simple {
  #edit-simple {
    padding-top: 7px;
    text-align: right;

    .adv-search {
      font-size: .8em;
      text-decoration: none;
    }

    .form-type-textfield {
      margin: 0;

      .form-text {
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 3px 3px -3px #808184;
        color: #808184;
        height: 2.5em;
        padding-left: .5em;
        width: 100%;
      }
    }

    .form-submit {
      background: image-url('images/search_btn.png') no-repeat scroll 0 0 transparent;
      border: medium none;
      color: transparent;
      height: 25px;
      position: relative;
      float: right;
      right: 5px;
      top: -30px;
      width: 25px;
    }
  }

}
