// Dependencies.
@import 'base/headings/headings';
@import 'components/clearfix/clearfix';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

.header,
%header {
  @extend %clearfix;
  text-align: center;
  background-color: color(white);

  .header-main-menu {
    .main-menu {
      li {
        display: inline-block;
        float: none;
        margin: 0 4%;
        line-height: 100px;

        a {
          text-decoration: none;
        }
      }
    }
  }

  // Wrapping link for logo.
  &__logo {
    float: none;
    margin: 0 10px 0 0;
    padding: 0;

    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  // Logo image.
  &__logo-image {
    vertical-align: bottom;
  }

  // Wrapper for website name and slogan.
  &__name-and-slogan {
    float: none;
    padding-bottom: 5px;
  }

  // The name of the website.
  &__site-name {
    @extend %h1;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    color: #5a5b5d;

    a:link,
    a:visited {
      color: #5a5b5d;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      color: color(text);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // The slogan (or tagline) of a website.
  &__site-slogan {
    margin: 0;
    font-size: 1em;
    color: #a14243;
    font-weight: normal;
  }

  // The secondary menu (login, etc.)
  &__secondary-menu {
    float: right;

    @include rtl() {
      float: left;
    }
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
    padding-bottom: 5px;
    display: table;
    width: 100%;

    .block-menu {
      width: 100%;
    }
  }

}

header {
  #block-islandora-solr-simple {
    .form-type-textfield {
      height: auto !important;
    }

    .form-item {
      margin-top: 1.3rem;
    }

    #edit-submit {
      padding-top: 9px;
    }

    h2 {
      display: none !important;
    }
  }

  .header-main-menu {
    width: 100%;

    ul {
      text-align: center;
    }
  }
}

@include zen-respond-to(m) {

.not-front {

  #block-islandora-solr-simple {

    border-bottom: 0;
    display: inline-block;
    text-align: right;
    width: 40%;
    font-size: 13px;

    .form-type-textfield {
      height: auto !important;
    }

    .form-item {
      margin-top: 1.3rem;
    }

    #edit-submit {
      padding-top: 9px;
    }

    h2 {
      display: none;
    }
  }

  .logo-menu-wrapper {
    width: 100%;
    font-size: 0;
    box-sizing: border-box;

    div {
      vertical-align: middle;
    }

    .header--block-one {
      width: 30%;

      img,
      .logo-one,
      .logo-two {
        width: auto;
      }
    }

    .header-main-menu {
      width: 30%;
      font-size: 13px;

      .navbar {
        text-align: right;
      }
    }
  }
}
}

@include zen-respond-to(m) {
   header,
   .header {
     text-align: left;

     &__region {
       padding-bottom: 5px;

       .block-menu {
         width: auto;
       }
     }

    &__logo {
      float: left;
    }

    &__name-and-slogan {
      float: left;
      padding-bottom: 5px;
    }
  }
}

.top-background-image {
  background-size: cover !important;
}
