<div class="block block-views front-slider front__slider" id="block-views-front-page-slideshow-block">
   <div class="block-inner-wrapper">
      <div class="content">
         <div class="view view-front-page-slideshow view-id-front_page_slideshow view-display-id-block front-page-slideshow">
            <div class="view-content">
               <div class="owl-carousel owl-theme" id="owl-carousel-block1" style="opacity: 1; display: block;">
                  <div class="owl-wrapper-outer">
                     <div class="owl-wrapper">
                        <div class="owl-item">
                           <div class="item-0">
                              <div class="views-field views-field-PID">
                                 <span class="field-content">
                                    <div class="front-page-slideshow-wrapper">
                                       <a title="Dead Star Creates Celestial Havoc" href="/islandora/object/islandora:sample_Dead_Star_Creates_Celestial_Havoc">
                                          <div style="background: url(/islandora/object/islandora:sample_Dead_Star_Creates_Celestial_Havoc/datastream/OBJ/view) no-repeat center; background-size: cover;" class="front-page-slideshow-image">
                                          </div>
                                       </a>
                                    </div>
                                 </span>
                              </div>
                              <div class="info-content-wrapper owl-info-hidden">
                                 <div class="views-field views-field-dctitle">
                                   <span class="field-content title-field" style="opacity: 1;">
                                     <a href="/islandora/object/islandora%3Asample_Dead_Star_Creates_Celestial_Havoc">Dead Star Creates Celestial Havoc</a>
                                   </span>
                                 </div>
                                 <div class="views-field views-field-dcdescription">            <span class="field-content desc-field" style="opacity: 1;">A star's spectacular death in the constellation Taurus was observed on Earth as the supernova of 1054 A.D. Now, almost a thousand years later, a superdense neutron star left behind by the...</span>    </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

