// Dependencies.
@import 'components/visually-hidden/visually-hidden';

// Breadcrumb navigation
//
// The path to the current page in the form of a list of links.
// 
// Markup: breadcrumb.twig
//
// Style guide: components.breadcrumb

.breadcrumb,
%breadcrumb {
  margin: 7px;
  font-size: 85%;

  @media print {
    display: none;
  }

  &__title {
    @extend %visually-hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    border-radius: 3px;

    &:hover {
      background-color: color(white);
    }

    a {
      margin: 5px;
      text-decoration: none;

      &:hover {
        color: color(dgi_gray);
      }
    }
  }
}
