// Dependencies.
@import 'components/visually-hidden/visually-hidden';

// Breadcrumb navigation
//
// The path to the current page in the form of a list of links.
// 
// Markup: breadcrumb.twig
//
// Style guide: components.breadcrumb

.bread-wrapper {
  display: table;
  width: 100%;
  background-color: color(white);
}

.breadcrumb,
%breadcrumb {
  margin: 7px;
  margin-left: 0;
  font-size: 85%;

  @media print {
    display: none;
  }

  &__title {
    @extend %visually-hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    padding-left: 0;
    border-radius: 3px;

    &:hover {
      background-color: color(white);
    }

    a {
      margin: 5px;
      margin-left: 0;
      text-decoration: none;
      color: color(deep-red);

      &:hover {
        color: color(teil);
      }
    }
  }
}
